<?xml version="1.0" encoding="utf-8" ?>

<config>
	<!-- Setup environment for running test-->
	<browser>chrome</browser>
	<!--projects: KS webapp-->
	<project_name>webapp</project_name>
	<site_name>uat</site_name>

	<!-- These are for prod only -->
	<clientId></clientId>
	<tenantId></tenantId>
	<redirectUri>http://localhost</redirectUri>

	<!--Collection of testing sites and credentials-->
	<tokens bearerToken=""/>

	<!--Webapp-->
	<webapp>
		<dev>
			<url></url>
			<instanceName></instanceName>
			<webApis datalakeApi="" WorkbenchApi=""/>
		</dev>
		<qa>
			<url></url>
			<instanceName></instanceName>
			<webApis datalakeApi="" WorkbenchApi=""/>
		</qa>
		<uat>
			<url></url>
			<instanceName></instanceName>
			<webApis datalakeApi="" WorkbenchApi=""/>
		</uat>
	</webapp>

	<account>
		<valid email="" password="" username=""/>
		<invalid email="abc@123.456" password="abc"/>
		<!-- This account for prod only -->
		<!--<valid email="" password="" username=""/>-->
	</account>

	<!--Firefox directory for 32 bit or 64 bit. (Currently, Using gecko 64 bit)-->
	<gecko path="Core\WebDrivers" />

	<!-- Database information for test report-->
	<!--<database>
		<connection>Server=.;Initial Catalog=...;Integrated Security=true;Trusted_Connection=Yes;</connection>
		<functionality>SELECT * FROM ...</functionality>
		<performance>SELECT * FROM ...</performance>
	</database>-->

	<!-- Screenshot directory and format setting -->
	<screenshot>
		<!--<screenshotPath>D://.../.../.../</screenshotPath>-->
		<screenshotPath>TestResults</screenshotPath>
		<screenshotFormat>.jpeg</screenshotFormat>
	</screenshot>

	<!-- Videorecord directory and format setting -->
	<videorecord>
		<videorecordPath>TestResults</videorecordPath>
		<videorecordFormat>.mp4</videorecordFormat>
	</videorecord>

</config>