<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="siteSettings">
			<section name="webapp" type="System.Configuration.AppSettingsSection"/>
		</sectionGroup>
	</configSections>
	<appSettings>
		<!--Auth0 login-->
		<add key="ProjectName" value="webapp"/>
		<add key="SiteName" value="qa"/>
		<!-- dev / qa -->
		<add key="userName" value=""/>
		<add key="password" value=""/>
		<add key="clientId" value=""/>
		<add key="tenantId" value=""/>
		<add key="redirectUri" value="http://localhost"/>
	</appSettings>
	<siteSettings>
		<webapp>
			<setting>
				<datalake value=""/>
				<workbench value=""/>
				<bearertoken value=""/>
				<instanceName value="dev"/>
			</setting>
			<setting>
				<datalake value=""/>
				<workbench value=""/>
				<bearertoken value=""/>
				<instanceName value="qa"/>
			</setting>
		</webapp>
	</siteSettings>
</configuration>